@import forms.auth.StudentForm
@import tables.Student
@(studentForm: Form[StudentForm.Data], student: Option[Student] = None)(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@import b3.inline.fieldConstructor

@main(Messages("home.title")) {


    <ol class="breadcrumb">
        <li>
            <a href="/student">Student</a>
        </li>
        <li class="active">Edit</li>
    </ol>

    <div id="content">
        <div id="add-form">
        @helper.form(action = controllers.pages.routes.StudentController.edit(student.get.id)) {
            @helper.CSRF.formField
            <div class="form-group row">
                <label class="col-sm-1 col-form-label my-label-100"></label>
                <div class="col-sm-2">
                    <button type="submit" id="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
                <div class="col-sm-2">
                    <a id="btnStudentDelete" class="btn btn-danger btn-block">Delete</a>
                </div>
                <div class="col-sm-2">
                    <a href="@controllers.pages.routes.StudentController.index" class="btn btn-default btn-block">Back</a>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label my-label-100">ID</label>
                <div class="col-sm-6">
                @b3.text(studentForm("id"), '_hiddenLabel -> Messages("student.code"),'readonly-> true,'class -> "form-control")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label my-label-100">Name</label>
                <div class="col-sm-6">
                @b3.text(studentForm("name"), '_hiddenLabel -> Messages("student.name"), 'class -> "form-control")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label my-label-100">Age</label>
                <div class="col-sm-6">
                @b3.text(studentForm("age"), '_hiddenLabel -> Messages("student.age"), 'class -> "form-control")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label my-label-100">Class</label>
                <div class="col-sm-6">
                @b3.text(studentForm("clas"), '_hiddenLabel -> Messages("student.clas"), 'class -> "form-control")
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label my-label-100">Create at</label>
                <div class="col-sm-10">
                    <label style="font-size: 14px">@student.get.createdAt</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label my-label-100">Update at</label>
                <div class="col-sm-10">
                    <label style="font-size: 14px">@student.get.updatedAt</label>
                </div>
            </div>
        }
        </div>
    </div>
}
